.main_wrapper {
    font-family: Helvetica;
    background-image: linear-gradient(#EFD2E1, #DBF4FF);
    /* background-color: aqua; */
    margin-left: 0;
    padding: 0rem 0rem 0rem 1.5rem;
    /*  margin-top: 0; */
}

/* body {
    margin: 0;
}
 */
.main_wrapper img {
    float: left;
    max-width: 25%;
}

.clearfix {
    clear: both;
}

.main_header {
    background-image: radial-gradient(circle,rgb(241, 176, 238),#6c6cfac9,#f3eea2d0);
    width: fit-content;
    padding: 0;
    margin-top: 0;

    /* background-color: blueviolet; */
    font-family: Helvetica ;
    font-size: xx-large;
}